<div class="footer-end">
    <div class="container-fluid">
        <ul>
            <li class="name_title">
                <p class="text-uppercase">Traffic Control Management System.</p>
            </li>
            <li class="footer_log">
                <img asp-append-version="true" src="~/asset/img/cpa-logo-footer.png">
            </li>
            <li class="copyright mt-5 pb-4">
                <a href="https://www.neurostormsoft.com/">Developed by <i class="fa fa-code"></i> NeuroStorm</a>
            </li>
        </ul>
    </div>
</div>