@model CPATCMSApp.Models.CnFs.CnFRegistration

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CnFRegistration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CnFName" class="control-label"></label>
                <input asp-for="CnFName" class="form-control" />
                <span asp-validation-for="CnFName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CnFCode" class="control-label"></label>
                <input asp-for="CnFCode" class="form-control" />
                <span asp-validation-for="CnFCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CnFPhoneNumber" class="control-label"></label>
                <input asp-for="CnFPhoneNumber" class="form-control" />
                <span asp-validation-for="CnFPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CnFAddress" class="control-label"></label>
                <input asp-for="CnFAddress" class="form-control" />
                <span asp-validation-for="CnFAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
